h1 {
	text-align: center;
}

#challenge {
	align-items: center;
	display: flex;
	font-size: 12rem;
	font-weight: bold;
	height: 300px;
	justify-content: center;
}

#challenge div {
	margin: 0 0.5rem;
}

#challenge #arrow {
	color: var(--text-light);
	font-size: 0.4em;
	margin: 0 0.2em;
}

#guess {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#guess div {
	margin: 0.5rem;
}

#guess button,
#guess select {
	margin: 0;
}

#result {
	height: 1.7rem;
	margin: 0 0 1.5rem;
	text-align: center;
}

#result .result-icon {
	display: none;
}

#result.correct {
	color: green;
}

#result.correct .correct {
	display: inline;
}

#result.incorrect {
	color: red;
}

#result.incorrect .incorrect {
	display: inline;
}

@media only screen and (max-width: 600px) {
	#challenge {
		font-size: 8rem;
	}
}
